@use '@carbon/themes';
@use '@carbon/layout';

.headerContainer {
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;
  border-bottom: 1px solid themes.$border-subtle-01;
  margin-bottom: layout.$spacing-06;
  padding-top: layout.$spacing-03;
  padding-bottom: layout.$spacing-03;
}